.reddHide
{
    display : none;
}

body
{
    width       : 500px;
    height      : 380px;
    margin      : 0px;
    padding     : 0px;
    color       : #3b3b3b;
    font-family : arial, sans-serif;
}

body.quickpay
{
    width  : auto;
    height : auto;
    background-color: #ccc;
}

body.quickpay #reddCoinPopup
{
    max-width: 500px;
    margin: auto;
    border: 1px solid #949494;
    margin-top: 40px;
    box-shadow: #444 1px 1px 10px;
}


body.quickpay .reddSettingsTabLink{
    display: none;
}

div
{
    -webkit-box-sizing : border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing    : border-box; /* Firefox, other Gecko */
    box-sizing         : border-box;
}

div.row
{
    max-width : 1000px;
    margin    : auto;
    clear     : both;
    overflow  : auto;
}

.clear
{
    clear : both;
}

.align-right
{
    text-align : right;
}

.grid_75,
.grid_66,
.grid_33,
.grid_25,
.grid_45,
.grid_15,
.grid_100,
.grid_90,
.grid_80,
.grid_70,
.grid_60,
.grid_50,
.grid_40,
.grid_30,
.grid_20,
.grid_10
{
    float   : left;
    padding : 0 10px;
}

.grid_75
{
    width : 75%;
}

.grid_66
{
    width : 66%;
}

.grid_33
{
    width : 33%;
}

.grid_25
{
    width : 25%;
}

.grid_15
{
    width : 15%;
}

.grid_45
{
    width : 45%;
}

.grid_100
{
    width : 100%;
}

.grid_90
{
    width : 90%;
}

.grid_80
{
    width : 80%;
}

.grid_70
{
    width : 70%;
}

.grid_60
{
    width : 60%;
}

.grid_50
{
    width : 50%;
}

.grid_40
{
    width : 40%;
}

.grid_30
{
    width : 30%;
}

.grid_20
{
    width : 20%;
}

.grid_10
{
    width : 10%;
}

.row.header
{
    background-color : #efefef;
    font-weight      : bold;
}

a
{
    color : #ed1c24;
}

.right
{
    float : right;
}

select
{
    background            : #fafafa;
    background-position-x : 97%;
    background-position-y : center;
    border                : 1px solid #cccccc;
    padding               : 2px 5px;
    -webkit-border-radius : 0;
    border-radius         : 0;
    cursor                : pointer;
    margin-top            : -2px;
}

#reddCoinPopup
{
    background-color : #FCFCFC;
    z-index          : 2147483649;
    margin           : 0;
    min-height       : 385px;
    position         : relative;
    /*border           : 1px solid #999;*/
}

#clearData,
#devDeposit
{
    float   : left;
    display : block;
    margin  : 5px 10px;
    clear   : both;
}

#reddCoinPopupHeader
{
    border-bottom    : 1px solid #3F3F3F;
    height           : 58px;
    background-color : #444;
}

#reddCoinBalanceContainer
{
    font-family    : 'Arial Black', Gadget, sans-serif;
    color          : #FFF;
    text-transform : uppercase;
    margin-right   : 20px;
    margin-top     : 25px;
    float          : right;
    letter-spacing : 1px;
    text-align     : right;
}

#reddCoinBalanceContainer a:focus,
#reddCoinBalanceContainer a
{
    color           : #FFF;
    font-size       : 15px;
    text-decoration : none;
    outline         : none;
}

a.button,
#reddCoinPopupBody button,
.reddSettingsTabLink,
.reddSettingsTab button,
#reddCoinButtonContainer button
{
    font-family      : "Arial Black", Gadget, sans-serif;
    background-color : #444;
    border           : 1px solid #4c4c4c;
    color            : #EEE !important;
    width            : 80px;
    border-radius    : 2px;
    padding          : 5px;
    margin-top       : 15px;
    margin-right     : 15px;
    text-transform   : uppercase;
    cursor           : pointer;
    font-weight      : normal;
    text-decoration  : none;
}

a.button
{
    display     : block;
    width       : auto;
    max-width   : 250px;
    font-weight : normal;
    text-align  : center;
}

#reddCoinPopupBody a.button.big,
#reddCoinPopupBody button.big
{
    width     : auto;
    padding   : 10px 20px;
    max-width : none;
    margin    : auto;
    display   : inline-block;
}

br.spacer
{
    height : 50px;
}

a.button:hover,
#reddCoinPopupBody button:hover,
.reddSettingsTab button:hover,
#reddCoinButtonContainer button:hover
{
    background-color   : #555;
    -webkit-transition : background .6s;
    transition         : background .6s;
    border             : 1px solid #4c4c4c;
    color              : #EEE !important;
}

.reddSettingsTabLink
{
    display          : block;
    text-decoration  : none;
    font-size        : 10px;
    float            : right;
    padding          : 2px 14px;
    text-align       : center;
    margin-top       : 0px;
    margin-right     : 10px;
    width            : 16.5%;
    margin-bottom    : 0px;
    background-color : #666;
    border-color     : #666;
    border-radius    : 10px;
}

.reddSettingsTabLink:hover
{
    text-decoration : underline;
}

div.reddState,
div.reddSettingsState
{
    min-height : 300px;
    padding    : 10px;
}

.reddSetupState
{
    text-align : center;
}

#reddCoinBalanceLink
{
    cursor : text;
}

#reddCoinBalanceLink:hover
{
    text-decoration : none;
    cursor          : text;
}

.rddQuickTip:hover
{
    color           : #fff;
    text-decoration : underline;
}

.reddSettingsTabLink:first-child
{
    margin-right : 10px;
}

a.reddSettingsTabLink.selected,
.reddSettingsTabLink.selected
{
    background-color : #ed1c24;
    border-color     : #ed1c24;
    color            : #222;
    font-weight      : normal;
}

.reddSettingsTab
{
    clear         : both;
    display       : none;
    min-height    : 100px;
    padding       : 12px 8px 0px;
    margin-top    : 5px;
    font-size     : 12px;
    margin-bottom : 56px;
}

#rddFullBalance
{
    font-weight : bold;
}

.reddSettingsTab h4
{
    margin      : 4px;
    font-size   : 17px;
    margin-left : 0;
}

.reddSettingsTab p
{
    font-size : 13px;
    margin    : 10px 0px;
}

.reddSettingsTab button
{
    width : auto;
}

#rddUpdateTransactionsButton
{
    padding     : 5px;
    float       : right;
    margin      : -6px -4px;
    font-size   : 10px;
    line-height : 10px;
}

#rddTransactionsTable
{
    overflow   : auto;
    max-height : 400px;
    margin-top : 6px;
}

.transactionTable
{
    clear : both;
    width : 100%;
}

.transactionTable tr th,
.transactionTable tr td
{
    border-right : 1px solid #f6f6f6;
    padding      : 2px 2px 2px 4px;
}

.transactionTable tr th
{
    background-color : #efefef;
    font-weight      : bold;
}

.transactionTable tr td:first-child
{
    border-left : 1px solid #f6f6f6;
}

.transactionTable tr td.green
{
    color : #175f24;
}

.transactionTable tr td.red
{
    color : #5f0003;
}

.transactionTable tr:last-child
{
    border-bottom : 1px solid #f6f6f6;
}

/************************************************************
 * END NEW STYLES
 ************************************************************/

#reddTipUser
{
    margin-bottom : 10px;
}

#reddCoinPopup .error
{
    border     : 2px solid #F00;
    transition : 2s;
}

#reddCoinPopupImage
{
    padding-left : 20px;
}

#reddCoinButtonContainer
{
    position         : absolute;
    bottom           : 0px;
    width            : 100%;
    height           : 65px;
    background-color : #eee;
    border-top       : 1px solid #ccc;
    text-align       : right;
}

#reddCoinInputContainer
{
    padding : 0px;
}

.rddInput,
.rddInput.error,
#reddCoinInputContainer input
{
    width     : 97%;
    font-size : 20px;
    padding   : 4px;
    margin    : 2px 0px;
}

.withdrawalInProgress,
.balanceUpdateInProgress,
.historyUpdateInProgress
{
    text-align       : center;
    border           : 1px solid #ff6462;
    background-color : #ffefd5;
    border-radius    : 5px;
    padding          : 5px;
}

#rddTransactionsTable,
#myAddressList .row
{
    font-family : monospace;
}

#myAddressList .row
{
    padding : 6px 0px;

}

#myAddressList .fa
{
    cursor : pointer;
}

#myAddressList .fa:hover
{
    color : #000;
}

#popupNotificationDiv
{
    padding          : 10px 10px;
    background-color : #0066bb;
    position         : absolute;
    max-width        : 300px;
    bottom           : 10px;
    max-height       : 45px;
    left             : 10px;
    border-radius    : 5px;
    color            : #FFF;
    display          : none;
    font-size        : 12px;
}