body.full
{
    width:100%;
    height : auto;
}

label{
    display:block;
    font-weight: bold;
    color:#444;
}


.underline{
    border-bottom: 1px solid #c5c5c5;
}

textarea.seed{
    width:400px;
    height:100px;
}

#addresses{
    font-family: mono;
}

input[type='text']{
    width:100%;
    padding:3px;
}

div.center,
.center{
    text-align: center;
}
div.centered,
.centered{
    float: none;
    margin: auto;
}
img.centered{
    display:block;
}

#gettingStarted a.button{
    margin:20px auto;
    width:80%;
    max-width: none;
}
.grid_50.centered p{
    text-align: justify;
}
#gettingStarted a.button{
    margin:20px auto;
    width:80%;
    max-width: none;
}

.pulse {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9);}
    50% {-webkit-transform: scale(1.0, 1.0); }
    100% {-webkit-transform: scale(0.9, 0.9); }
}

body.settings .grid_25{
    padding:2px;
}
body.settings label{
    text-align: right;
    margin-right:10px;
}
body.settings select{
    width:100%;
}
body.settings p.light{
    color:#777;
    margin:0;
    font-size:13px;
    text-align: justify;
}
body.settings .row.setting{
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
}