body.full
{
    width:100%;
    height : auto;
}

label{
    display:block;
    font-weight: bold;
    color:#444;
}


.underline{
    border-bottom: 1px solid #c5c5c5;
}

textarea.seed{
    width:400px;
    height:100px;
}

#addresses{
    font-family: mono;
}

input[type='text']{
    width:100%;
    padding:3px;
}

div.center,
.center{
    text-align: center;
}
div.centered,
.centered{
    float: none;
    margin: auto;
}

#gettingStarted a.button{
    margin:20px auto;
    width:80%;
    max-width: none;
}